/* NOTE: EDIT CAPTIONS FOR LANDSCAPE BEFORE FINAL */


/* External Stylesheet to my main site */
/* Seperate stylesheet for quicker editing, personal pref */

li#alexloomer {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #E0DFD7;
  margin-top: 3.84em;
  width: 100%;
}


/* Portfolio Header */
/* Fixing inherited hover state */

#portfolio {
  cursor: auto;
}

#portfolio:hover h2 {
  padding: 1.5%;
  color: #E0DFD7;
  border: .15em solid #E0DFD7;
}


/* Images */

#border {
  overflow: hidden;
  position: relative;
  float: left;
  width: 48%;
  display: inline-block;
  margin: 1%;
  z-index: -2;
  background: #E0DFD7;
}

img {
  width: 100%;
}

/* Thumbnail Hover */

#border:hover img {
  opacity: .8;
}

/* Image Caption Overlays */

figcaption {
  height: 55%;
  width: 100%;
  font-size: .5em;
  position: absolute;
  text-align: center;
  color: white;
  text-decoration: none;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  opacity: 0;
  transition: opacity .5s;
}

/* Overlay transition */

#border:hover figcaption {
  opacity: 1;
}

/* Light Box */

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
}

.lightbox img {
  width: 90%;
  max-height: 90%;
  margin-top: 2%;
  float: none;
}

.lightbox:target {
  outline: none;
  display: block;
}

.lightbox:target img {
  animation: fadein .2s ease-in-out;
}

/* Keyframe transitions */
@keyframes fadein {
  0% {
    transform: scale(0); 
  }
  
  100% {
    transform: scale(1);
  }
}

/* Lightbox Paragraphs */
a {
  text-decoration: none;
}

.lightbox p {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  animation: fadein .2s ease-in-out;
}

/* Fixes for portrait scale lightbox images */

#img7.lightbox img,
#img8.lightbox img,
#img11.lightbox img,
#img12.lightbox img,
#img15.lightbox img,
#img16.lightbox img {
  max-width: 85%;
}


/* Media Queries */
/* Fix for landscape mode */
@media screen and (orientation: landscape) {
  .lightbox img {
    max-width: 60%;
    }
  .lightbox p {
    display: none;
  }
  }
  
/*  Fixes for portrait scale  */
#img7.lightbox img,
#img8.lightbox img,
#img11.lightbox img,
#img12.lightbox img,
#img15.lightbox img,
#img16.lightbox img {
  max-width: 30%;
}
  
}

/* Tablet and up */
@media screen and (min-width: 768px) {
  li#alexloomer {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
}
/*  Lightbox  */
  .lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
}

.lightbox img {
  width: 60%;
  max-width: 90%;
  max-height: 90%;
  margin-top: 2%;
  float: none;
  transition: background 1s;
}
  
#img7.lightbox img,
#img8.lightbox img,
#img11.lightbox img,
#img12.lightbox img,
#img15.lightbox img,
#img16.lightbox img {
  max-width: 30%;
}
}

@media screen and (min-width: 628px) {
  figcaption {
    font-size: 1em;
  }
}